<div class="row header">
    <span class="logo"></span>
    <span (click)='specClickHandler($event)' class="glyphicon glyphicon-phone prespective viewChange active"></span>
    <span (click)='specClickHandler($event)' class="glyphicon glyphicon-eye-open prespective viewChange"></span>
    <a class="github" href="https://github.com/mariaantony-gnanasekaran/quickstart" target="_blank"></a>
    <a class="e-btn e-download" href="http://localhost:4000">
        <span class="e-icons e-download-icon e-icon-left e-btn-icon"></span></a>
</div>
<div class="row content">
    <div class="col-md-3 padding0 icontool">
        <div class="viewHeader">
            <span>Components</span>
        </div>
        <div class="sidebarSection table-responsive">
            <div class="table">
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="grid">
                        <div class="align">
                            <span class="sb-icons sb-icon-grid align"></span>
                        </div>
                        <div class="alignText">
                            <span>	Grid</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="chart">
                        <div class="align">
                            <span class="sb-icons sb-icon-charts align"></span>
                        </div>
                        <div class="alignText">
                            <span>	Chart</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="toolbar">
                        <div class="align">
                            <span class="sb-icons sb-icon-toolbar align"></span>
                        </div>
                        <div class="alignText">
                            <span>Toolbar</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="button">
                        <div class="align">
                            <span class="sb-icons sb-icon-button align"></span>
                        </div>
                        <div class="alignText">
                            <span>Button</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="dropdown">
                        <div class="align">
                            <span class="sb-icons sb-icon-dropdownlist align"></span>
                        </div>
                        <div class="alignText">
                            <span>DropDownList</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="calendar">
                        <div class="align">
                            <span class="sb-icons sb-icon-calendar align"></span>
                        </div>
                        <div class="alignText">
                            <span>Calendar</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="datepicker">
                        <div class="align">
                            <span class="sb-icons sb-icon-datepicker align"></span>
                        </div>
                        <div class="alignText">
                            <span>DatePicker</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="pager">
                        <div class="align">
                            <span class="sb-icons sb-icon-dialog align"></span>
                        </div>
                        <div class="alignText">
                            <span>Pager</span>
                        </div>
                    </div>

                </div>
                <div class="row marginZero" >
                    <div class="col-md-6 padding0 e-disable"  draggable="true" (dragstart)="dragstart($event)" id="listview">
                        <div class="align">
                            <span class="sb-icons sb-icon-listview align"></span>
                        </div>
                        <div class="alignText">
                            <span>ListView</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0 e-disable" draggable="true" (dragstart)="dragstart($event)" id="accordion">
                        <div class="align">
                            <span class="sb-icons sb-icon-accordion align"></span>
                        </div>
                        <div class="alignText">
                            <span>Accordion</span>
                        </div>
                    </div>
                </div>
                <div class="row marginZero">
                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="tab">
                        <div class="align">
                            <span class="sb-icons sb-icon-tab align"></span>
                        </div>
                        <div class="alignText">
                            <span>Tab</span>
                        </div>
                    </div>

                    <div class="col-md-6 padding0" draggable="true" (dragstart)="dragstart($event)" id="treeview">
                        <div class="align">
                            <span class="sb-icons sb-icon-treeview align"></span>
                        </div>
                        <div class="alignText">
                            <span>TreeView</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 padding0 sidebarSection middlepanel viewHeaderContainer">

        <div class="viewHeaderMiddle">
            <div class="switchbtns">
                <div class="platform-preview">
                    <div class="platform-toggle">
                        <a onclick="setPlatform('ios', event)" class="active">iOS</a>
                        <a onclick="setPlatform('android', event)" class="">Android</a>
                        <a onclick="setPlatform('windows', event)" class="">Windows</a>
                    </div>
                </div>
                <div id='ddlelement'>
                    <ej-dropdownlist id='ddlelement' [dataSource]='data' (change)='sizeChangeHandler($event)' text="100%"></ej-dropdownlist>
                </div>
            </div>
        </div>
        <div id="appContainer" class="ios">
            <div id="appContent" frameborder="0" tabindex="1" (dragover)="dragover($event)" (drop)="drop($event)">
                <div id="iframe" (click)='clickHandler($event)'></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 padding0 viewHeaderContainer propertypanel">
        <div class="col-md-3 viewHeaderMiddle propertyHeaderMiddle padding0">
            <span>Property</span>
        </div>
        <div id='propertypanel'></div>
    </div>
</div>